@CHARSET "ISO-8859-1";

.amiVisibility{
	float: right;
	padding-bottom: 10px;
}

.groupVisibility{
	float: right;
}

.ui-block-a, .ui-block-b{
	border-bottom-style:solid;
	border-width:thin;
	margin-top: 10px;
}

.ui-block-a{
	padding-bottom: 16px;
}

.amiName{
	display: block;
	float: left;
	width: 50%;
	padding-top: 10px; 
}

.groupName{
	display: block;
	float: left;
	width: 50%;
	padding-top: 8px; 
}

.ui-slider-switch{
	width: 110px !important;
}