@CHARSET "ISO-8859-1";

div[data-role="header"]{
	text-align: center;
	font-size: 30px;
}

div[data-role="footer"]{
	text-align: center;
}

/* Page menu */

#boutonsBasDePage{
	top: 350px;
}

/* Page amis */

.groupVisibility{
	float: right;
}

div[class^="ui-block"]{
	border-bottom-style:solid;
	border-width:thin;
	margin-top: 20px;
	
}