@CHARSET "ISO-8859-1";

div[data-role="header"]{
	text-align: center;
	font-size: 30px;
}

div[data-role="footer"]{
	text-align: center;
}

#boutonRetour{
	display: block;
	float: left;
}


/* page Fiche Ami*/
#prenom{
	display: inline;
}

#nom{
	display: inline;
}